.sidebar-container {
    height: 100vh;
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
}

.sidebar-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 1rem;
}

.sidebar-content ul {
    padding: 0 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.sidebar-link {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px 20px;
    align-items: center;
    color: #012b36;
    text-decoration: none;
    border-radius: 15px;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #012b36;
}

.sidebar-link:hover {
    background-color: #aadcff;
}

.sidebar-account-link {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: auto;
    margin-bottom: 2rem;
    padding: 16px 24px;
    border-radius: 40px;
    color: #012b36;
    text-decoration: none;
}

.sidebar-account-link:hover {
    background-color: #aadcff;
}
.sidebar-account {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.sidebar-avatar {
    align-self: center;
    width: 32px;
}

.sidebar-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-fullname {
    font-weight: bold;
}

.sidebar-username {
    font-size: smaller;
    color: #063642;
}

.logout-button {
    align-self: center;
}
